<header class="site-header">
    <div class="header-content">
        <div class="header-section1">
            <h1>My Blog</h1>
            <button class="burger-button" onclick="document.getElementById('nav').classList.toggle('active')">☰</button>
        </div>
        <nav class="site-nav" id="nav">
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Blog</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/write">Write</a></li>
                <li><a href="/admin/read-messages">Messages</a></li>
                <li><a href="/admin/my-account">My Account</a></li>
            </ul>
        </nav>
    </div>
</header>