<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/my-account.css">
    <title>My account</title>
</head>

<body>
    
    <%- include('../partials/header_adm'); %>

    
    <main class="site-main">
        <section class="account-box">
            <h1><%= username %></h1>
            <ul>
                <li><a href="/admin/change-usr">Change Username</a></li>
                <li><a href="/admin/change-pass">Change Password</a></li>
            </ul>
        </section>
    </main>
    

    <%- include('../partials/footer'); %>

</body>

</html>